<nav>
  <div class="site-title">
    <a href="/"><h1>Library management</h1></a>
    <p>based on NoSQL database</p>
  </div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/books/create">Add-Book</a></li>
    <li><a href="/user/create">Add-User</a></li>
  </ul>
</nav>